<div class="row margin-top">
  <div class="col-md-3 text-center">
    <%= image_tag avatar_url(@other), class: "img-circle avatar-medium" %>
    <strong><%= @other.name %></strong>
    <%= link_to "View Profile", user_path(@other), class: "btn btn-primary" %>
  </div>
  <div class="col-md-9">
    <div class="card">
      <div class="card-header">Conversation with <%= @other.name %></div>
      <div class="card-body">
        <div class="container">
          <%= form_for [@conversation, @conversation.messages.new] do |f| %>
              <div class="form-group">
                <%= f.text_area :content, id: "new_message", placeholder: "Add a personal message", class: "form-control" %>
                <%= f.hidden_field :user_id, value: current_user.id %>

                <div class="actions">
                  <%= f.submit "Send Message", class: "btn btn-success" %>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </div>

    <div id="chat">
      <%= render 'messages' %>
    </div>

  </div>
</div>