<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="md-form">
    <i class="fa fa-user prefix"></i>
    <%= f.text_field :name, class: 'form-control', id: 'name' %>
    <label for="name">Name</label>
  </div>

  <div class="md-form">
    <i class="fa fa-pencil-square-o prefix"></i>
    <%= f.text_area :description, class: "md-textarea", id: "description" %>
    <%= f.label :description, for: "decription" %><br>

  </div>

  <div class="md-form">
    <i class="fa fa-gbp prefix"></i>
    <%= f.text_field :price, class: "form-control", id: "price" %>
    <%= f.label :price, for: "price" %><br>

  </div>

  <div class="md-form form-group">
    <%= f.button "Add Task", class: "btn btn-primary", style:"" %>
  </div>
<% end %>