<%= form_for @task, :html => { :multipart => true } do |f| %>

  <%= render 'layouts/task_errors' %>
  <div class="col-md-6 col-md-offset-2 margin-top">
    <!--Panel-->
    <div class="card">
      <h3 class="card-header" align="center">Task Info</h3>
      <div class="card-block">
        <div class="md-form">
          <i class="fa fa-user prefix"></i>
          <%= f.text_field :name, class: 'form-control', id: 'name' %>
          <label for="name">Name</label>
        </div>

        <div class="md-form">
          <i class="fa fa-pencil-square-o prefix"></i>
          <%= f.text_area :description, class: "md-textarea", id: "description" %>
          <%= f.label :description, for: "decription" %><br>

        </div>

        <div class="md-form">
          <i class="fa fa-gbp prefix"></i>
          <%= f.text_field :price, class: "form-control", id: "price" %>
          <%= f.label :price, for: "price" %><br>

        </div>

        <div class="md-form">
          <i class="fa fa-camera prefix"></i>
          <%= f.file_field :image, class: "form-control" %>

        </div>


        <!--<div class="file-field">-->
        <!--<div class="btn btn-primary">-->
        <!--<span><i class="fa fa-camera prefix"></i> Upload Picture</span>-->
        <!--<input type="file">-->
        <!--</div>-->
        <!--<div class="file-path-wrapper">-->
        <!--<%#= f.file_field :image, class: "file-path validate", type: "text", id: "image"%>-->
        <!--</div>-->
        <!--</div>-->
        <br><br>
        <div class="md-form form-group">
          <%= f.button "Add Task", class: "btn btn-primary", style:"" %>
        </div>

        <%= link_to 'Back', tasks_path, class: "btn btn-link" %>


      </div>
      </div>
    </div>




<% end %>