<h1 align="center">Your Tasks</h1>
<hr>
<br>

<table class="table table-hover table-bordered">
  <tr>
    <th class="center">Image</th>
    <th class="center">Name</th>
    <th class="center">Description</th>
    <th class="center">Price</th>
    <th class="center">Actions</th>
  </tr>

  <% @tasks.each do |task| %>
  <tr>
    <td id="tableimg"><%= image_tag task.image.url %></td>
    <td><%= task.name %></td>
    <td><%= task.description %></td>
    <td><%= number_to_currency(task.price) %></td>
    <td>
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="actions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          View Actions
        </button>
        <div class="dropdown-menu" aria-labelledby="actions">
          <%= link_to "View", task, class: "dropdown-item" %>
          <%= link_to "Edit", edit_task_path(task), class: "dropdown-item" %>
          <%= link_to "Delete", task, method: :delete, data: {confirm: "Are you sure?"}, class: "dropdown-item" %>
        </div>
      </div>

    </td>
  </tr>
  <% end %>
</table>