<h1 align="center">Latest Tasks In Your Area</h1>
<hr>
<br>
<% @tasks.each do |task| %>
<div class="col-md-4">
  <!--Card-->
  <div class="card product-card">

    <!--Card image-->
    <div class="view overlay hm-white-slight">
      <%= image_tag task.image_url, class: "img-fluid taskimage" %>
      <a>
        <div class="mask"> </div>
      </a>
    </div>
    <!--/.Card image-->

    <!--Rating-->
    <a class="btn rating ">
      Make An Offer
    </a>

    <!--Buttons-->
    <div class="action-buttons">
      <a class="btn-floating activator"><i class="fa fa-share-alt"></i></a>
      <a class="btn-floating" data-toggle="tooltip" data-placement="bottom" title="Add to wishlist"><i class="fa fa-heart"></i></a>
    </div>

    <!--Card content-->
    <div class="card-block">
      <!--Title-->
      <a><h4 class="card-title"><%= task.name %></h4></a>
    </div>

    <div class="description">
      <p><%= task.description %></p>
    </div>

    <!--Call to action-->
    <div class="cta">
      <p><%= number_to_currency(task.price) %></p>

      <button class="btn btn-default" data-toggle="modal" data-target="#quick-look-ex">Quick look</button>
    </div>

    <div class="taskactions" align="center">
      <%= link_to 'Show', task, class: "btn btn-link" %>
      <%= link_to 'Edit', edit_task_path(task), class: "btn btn-link" %>
      <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %>
      <br>
    </div>

    <!--Card reveal-->
    <div class="card-reveal">
      <div class="content text-xs-center">

        <h4 class="card-title">Social shares <i class="fa fa-close"></i></h4>
        <hr>

        <!--Social Icons-->
        <ul class="inline-ul">
          <li><a class="btn-floating btn-small btn-fb"><i class="fa fa-facebook"> </i></a></li>
          <li><a class="btn-floating btn-small btn-tw"><i class="fa fa-twitter"> </i></a></li>
          <li><a class="btn-floating btn-small btn-gplus"><i class="fa fa-google-plus"> </i></a></li>
          <li><a class="btn-floating btn-small btn-li"><i class="fa fa-linkedin"> </i></a></li>
          <li><a class="btn-floating btn-small btn-git"><i class="fa fa-github"> </i></a></li>
          <li><a class="btn-floating btn-small btn-pin"><i class="fa fa-pinterest"> </i></a></li>
          <li><a class="btn-floating btn-small btn-ins"><i class="fa fa-instagram"> </i></a></li>
        </ul>

      </div>
    </div>
    <!--/.Card reveal-->

  </div>
  <!--/.Card-->
</div>
<% end %>
