<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @offer.price %>
</p>

<p>
  <strong>Status:</strong>
  <%= @offer.status %>
</p>

<p>
  <strong>Is accepted:</strong>
  <%= @offer.is_accepted %>
</p>

<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>
