<!--Navbar-->
<nav class="navbar navbar-dark bg-primary">

  <!-- Collapse button-->
  <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapseEx2">
    <i class="fa fa-bars"></i>
  </button>

  <div>

    <!--Collapse content-->
    <div class="collapse navbar-toggleable-xs" id="collapseEx2">
      <!--Navbar Brand-->
      <%= link_to "HandyHelper", root_path, class: "navbar-brand" %>
      <!--Links-->
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <%= link_to "About", pages_about_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Contact", pages_contact_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions</a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <% if user_signed_in? %>
            <%= link_to 'New Task', new_task_path, class: "dropdown-item" %>
            <% end %>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
      <!--Search form-->
      <% if user_signed_in? %>
      <ul class="nav navbar-nav pull-xs-right">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" type="button" id="manageadmin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My Profile</a>
          <div class="dropdown-menu" aria-labelledby="manageadmin">
                <%= link_to 'Managed Listings', dashboard_path, class: "dropdown-item" %>
                <%= link_to "Sales History", sales_path, class: "dropdown-item" %>
                <%= link_to "Purchase History", purchases_path, class: "dropdown-item" %>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= current_user.name %></a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              <%= link_to 'Edit Profile', edit_user_registration_path, class: "dropdown-item" %>
          <% else %>
          <ul class="nav navbar-nav pull-xs-right">
            <li class="nav-item"><%= link_to 'Sign In', new_user_session_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to 'Sign Up', new_user_registration_path, class: "nav-link" %></li>
           <% end %>
          </ul>
          </div>
        </li>
      </ul>
    </div>
    <!--/.Collapse content-->

  </div>

</nav>
<!--/.Navbar-->